{{define "homepage"}}
{{template "head"}}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
	  <h1>Tardy</h1>
        </div>
      </div>

      <svg class="chart"></svg>
    </div> <!-- container -->
  </body>
</html>
{{end}}
